.component3{
  width: 100%;
  background-color: $white-color;
  .header {
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    span {
      color:$btn-color ;
      
    }
  }
}