@media only screen and (min-width: 320px) and (max-width:767px) {
    .component1{
        height: 70px;
    .navigation {
        width: 86% ;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 32px;
        }
        .logo{
            font-size: 27.22px;
        }
        .nav-items { 
             display: none;
            }
        .burger-menu-mobile{
                display: block;
            }
        .burger-menu{
                display: none;
            }
        .burger-menu-mobile{
            display: block;
        }
      } 
    }    
}